.Footer {
    background-color: #0D1F2D;
    color: white;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Footer p h6 {
    font-weight: 500;
    padding-top: 50px;


}