.custom-color-button {
    background-color: #0D1F2D;
    border: #0D1F2D;
    color: #E4C3AD;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 15px;

}

.custom-color-button:hover {
    background-color: #E4C3AD;
    border: #E4C3AD;
    color: #0D1F2D;
}

.AircraftDetails h2 {
    color: #0D1F2D;
    text-align: center;
}

.AircraftDetails h5 {
    color: #0D1F2D;
    text-align: center;
    margin-bottom: 15px;
}