video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.HomePageText {

    text-align: center;
    display: block;
}


h2 {
    color: #546A7B;
    text-align: center;
    margin-top: 40px;
}